{% extends 'base.html.twig' %}

{% block title %}Register | Manasoft!{% endblock %}

{% block body %}
    <h2 class="form-signin-heading">Welcome, please register below</h2>
    {{ form(form) }}
    <div class="form-group button group">
        <a href="{{ path('app_login') }}">
            Already have an account? Login here
        </a>
    </div>
{% endblock %}